version: '3.8'
services:
  python:
    build: .
    image: sadeft-python
    command: python app.py
    ports:
      - "5000:5000"
    volumes:
      - .:/app
  node:
    image: node:18
    working_dir: /app
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    command: sh -c "npm install && node server.js"
    environment:
      - PYTHON_BASE=http://python:5000
