body {
    background: #0c0c0c;
    color: #d4af37;
    font-family: "Arial Black", sans-serif;
    text-align: center;
}

.titulo {
    margin-top: 40px;
    font-size: 28px;
    color: gold;
}

#login-screen input {
    padding: 12px;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#login-screen button {
    background: gold;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 18px;
    color: black;
}

.painel-titulo {
    font-size: 24px;
    margin-top: 10px;
    color: gold;
}

.btn-sair {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: crimson;
    padding: 12px;
    color: white;
    border-radius: 10px;
}

.numeros-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    margin: 25px;
}

.numero {
    padding: 18px;
    background: #1a1a1a;
    border: 2px solid gold;
    border-radius: 15px;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 0 10px #000;
}

.numero.verde {
    background: #0f660f;
    border-color: lime;
}

.numero.dourado {
    background: #4a3b00;
    border-color: gold;
}

.btn {
    background: #005f99;
    color: white;
    padding: 14px 25px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
}

.resultado {
    margin-top: 20px;
    background: #111;
    padding: 20px;
    border-radius: 15px;
}

#chat-box {
    height: 200px;
    overflow-y: auto;
    padding: 15px;
    background: #111;
    border-radius: 10px;
    margin-bottom: 10px;
}
